/*--------------------------------------------------------------

  Template Name: Asbab eCommerce HTML5 Template.
  Description: Asbab is a unique website template designed in HTML with a simple & beautiful look.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

/* Nuo lg breakpointo */
@media(min-width: 1200px) {
    .product__list .single-product:nth-child(4n +1) {
        clear: both;
    }
}

/* nuo md Iki lg breakpointo */
@media(max-width: 1200px) and (min-width: 992px) {
    .product__list .single-product:nth-child(3n +1) {
        clear: both;
    }
}

@media (max-width: 992px) {
    .product__list .single-product:nth-child(2n +1) {
        clear: both;
    }
}


.product__action li .action {
    background: #fefefe none repeat scroll 0 0;
    display: inline-block;
    height: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 50px;
    border: none;
}

.product__action li .action i {
    color: #313131;
    font-size: 18px;
    transition: all 0.4s ease 0s;
}

.product__action li .action:hover {
    background: #c43b68 none repeat scroll 0 0;
}

.product__action li .action:hover i {
    color: white;
}

